#clockContainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    /* height: 404px;
    width: 404px; */
    background: url(clock.png) no-repeat;
    background-size: 100%;
    /* border: 2px solid red; */
}
#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 1.4%;
    height: 24%;
    top: 26.3%;
    left: 49.1%;
    opacity: .8;
    /* display: none; */
    
}
#minute{
    width: 1%;
    height: 31%;
    top: 19%;
    left: 49.3%;
    opacity: .6;
    /* display: none; */
}    
#second{
    width: 0.6%;
    height: 37%;
    top: 13%;
    left: 49.5%;
    opacity: 0.3;
    /* display: none; */
}

@media screen and (max-width: 600px)  {
    #clockContainer{
        top: 50vw;
        height: 80vw;
        width: 80vw;
    }
}
@media screen and (max-width: 912px)  {
    #clockContainer{
        top: 35vw;
        height: 80vw;
        width: 80vw;
    }
}
   
